.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: end;
  align-items: center;
  max-width: 100%;
  margin-top: 20lvh;
  gap: 2.5rem;
  z-index: 1;  
}
.socials {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 2rem;
  opacity: 0;
  transition: opacity 2.0s ease-out;
}
.socials-animate{
  opacity: 1; 
}

.socialmedia {
  color: #e0c35e;
  font-size: clamp(1.2rem, 1.8vw, 3rem);
  }
.menu {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin: 10px;
  width: 100%;
  opacity: 0;
  transition: opacity 2.0s ease-out;
}
.menu-animate {
  display: flex;
  gap: 1.5rem;
  margin: 10px;
  opacity: 1;
}

.menu a {
  color: #efbf57;
  text-decoration: none;
}

.menu a:hover {
  color: white;
  text-decoration: underline;
}
.plate{
  display: flex;
  justify-content: center;
  padding: 0;
  width: clamp(10rem, 20vw, 20rem); /* Min: 200px, Prefers 50vw, Max: 600px */
  height: clamp(100%, 100%, 100%);
  opacity: 1;
}
@keyframes verticalGrow {
  0% {
    opacity: 0;
    transform: scaleY(0); 
  }
  100% {
    opacity: 1;
    transform: scaleY(1); 
  }
}

.plate-animate{
  animation: verticalGrow 1.5s ease-out forwards;
  transform-origin: center;
}

.fixedHeader {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px; 
  background-color: black;
  z-index: 1000;
}
.hamburgerMenuButton {
  visibility: hidden;
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  font-size: 1.5rem;
  background-color: transparent;
  border: none;   
  outline: none;
}

.hamburgerIcon {
  color: #e0c35e;
  background-color: transparent;
  }

.navbar {
  padding: 1rem;
  width: 100%;
 
}

.hamburgerMenu {
  position: fixed;
  top: 0;
  left: -50vw;
  transition: left 0.4s ease-in-out;
  z-index: 40;
  overflow-y: auto;
}

.hamburgerMenuOpen {
  left: 0;
}

.hamburgerList {
  margin-top: 64px;
  padding: 0;
  list-style: none;
}

.hamburgerList li {
  padding: 16px;
  border-bottom: 1px solid #444;
}

.hamburgerList a {
  color: #e0c35e;
  text-decoration: none;
  display: block;
  transition: color 0.3s;
}

.hamburgerList a:hover {
  color: #f39c12;
  text-decoration: underline;
} 

/* Overlay to Close Menu */
 .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 30;
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e0c35e;
}

.pagetext {
  display: grid;
  grid-template-rows: auto;
  justify-items: center; 
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
  min-height: 80vh;
  padding: 20px;
  gap: 64px;
  position: relative;
  z-index: 1; 
  background: none;
}

/* The page content that should scroll */
.pagecontent {
  position: relative; 
  z-index: 2; 
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e0c35e;
  min-height: 25dvh;
  margin-top: 20dvh;
  background-color: rgba(0, 0, 0, 0.2);
  }

  .quotation {
    position: relative; 
    z-index: 2; 
    display: grid;
    grid-template-rows: auto;
    justify-items: center; 
    text-align: center;
     padding: 100px 20px;
    color: white; 
    width: 100%;
    margin: 2rem 0 2rem 0;
    min-height: 30vh;  
    background-color: rgba(0, 0, 0, 0.2);
    }
    .pageInfoWhiteJustified {
      position: relative; 
      z-index: 2; 
      display: grid;
      grid-template-rows: 1fr 1fr;
      justify-items: center; 
      text-align: left;
      gap: 1em;
      padding-top: 2rem;
      padding-left: 2rem;
      padding-right: 2rem;
      padding-bottom: 2rem;
      color: white; 
      width: 100%;
      margin: 1.2rem 0 2rem 0;
      min-height: 30vh;  
      background-color: rgba(0, 0, 0, 0.2);
      }
      .otherWhiteHeadings{
        display: flex;
        flex-direction: row;
        padding-left: 4rem;
        justify-content: left;
        align-items: center;
        margin: 1.2rem 0 2rem 0;
        min-height: 30vh;  
        background-color: rgba(0, 0, 0, 0.2);
        color: white;
      }
      .otherYellowHeadings{
        display: flex;
        flex-direction: row;
        padding-left: 5rem;
        justify-content: left;
        align-items: center;
        margin-bottom: 4rem;
        background-color: rgba(0, 0, 0, 0.2);
        color: #e0c35e;
      }
      .blogWhiteHeadings{
        display: flex;
        flex-direction: row;
        padding-left: 5rem;
        justify-content: left;
        align-items: center;
        padding-top: 2rem;
        padding-bottom: 2rem;
        background-color: rgba(0, 0, 0, 0.2);
        color: white;
      }
      .blogYellowHeadings{
        display: flex;
        flex-direction: row;
        padding-left: 5rem;
        justify-content: left;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.2);
        color: #e0c35e;
      }

      .blogParagraphs {
        display: flex;
        flex-direction: column;
        padding-left: 5rem;
        justify-content: left;
        align-items: left;
        gap: 1rem;
        
        background-color: rgba(0, 0, 0, 0.2);
        color: white;
      }
      .blogImage {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
      }
      .blogCommentReveal {
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
      }
      .blogCommentRevealButton {
        outline: white solid 2px;
        color: white;
        background-color: transparent;
        padding: .2rem;
      
      }
      .blogCommentRevealButton:hover {
       
        color: black;
        background-color: white;
        outline: none;
        cursor: pointer;
        
      }
      .blogShareIcon {
        margin-left: 2rem;
      }
      .blogShareText {
        color: white;
      }
      .blogShareText:hover {
        text-decoration: underline;
        cursor: pointer;
      }
      .blogShareButton {
        outline: transparent solid 2px;
        background-color: transparent;
        padding: .2rem;
        cursor: pointer;  
        text-decoration: none;
      }
      .blogContent P{
        color: white;
      }

      .socialModal {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50vw;
        height: 25vw;
        z-index: 60;
        outline: white solid 8px;
        display: block;
      }
     .socialModal ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        gap: 1rem;
        list-style: none;
        padding: 0;
        margin-top: 4rem;
      }
      .socialModal ul li {
        display: flex;
        justify-content: center;
        align-items: left;
        
        width: 100%;
        height: auto;
        list-style: none;
        padding: 1rem;
        color: white;
        background-color: rgba(0, 0, 0, 0.2);
      }
      .socialModal ul li:hover {
        background-color: rgba(0, 0, 0, 0.4);
      }
      .socialModalClosed {
        display: none;
      }
      .socialModalContainer {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgb(0, 0, 0, 0.5); 
        z-index: 50;
      }
      .socialModalContainerHidden {
      display:none;
      }
      .exitModalButton {
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: transparent;
        border: none;
        color: red;
        font-size: 1.5rem;
        cursor: pointer;
        z-index: 61; /* Ensure it appears above the modal content */
      }
      
      .exitModalButton:hover {
        color: darkred;
      }
    
/* Background container stays fixed */
.fixedbackground {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100vw;
  height: 100lvh;
  background-color: black; 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  overflow: hidden;
}

/* Background images (stacked) */
.backgroundImage {
  position: absolute;
  width: 80vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

/* Background variations */
.bg1 {
  background-image: url("/ecotaybandpic.jpg");
}
.bg2 {
  background-image: url("/ecotaybarn.jpg");
}
.bg3 {
  background-image: url("/ribfest.webp");
}

.backgroundCamaro {
  position: fixed; /* Keep background in place */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black; /* Black background */
  background-image: url(/camaro.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1; /* Ensures it's behind everything */
  overflow: hidden;
}

.backgroundBand{
  position: fixed; /* Keep background in place */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black; /* Black background */
  background-image: url(/ecotaybandpic.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1; /* Ensures it's behind everything */
  overflow: hidden;
}

.bioImage {
  display: Flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  gap: 1em;
  min-width: 100vw;
  margin-bottom: 2rem;
  padding: 4rem 0 4rem 8rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.2); 
}



@media (prefers-color-scheme: dark) {
  .page {
    /* --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06); */

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 1;
}
/* ---------------------------------Media Queries-------------------------------------------- */

/* toggle hamburger menu visibility on mobile devices*/

@media (max-width: 768px) {
  /* When the screen is 768px or smaller (mobile), show the hamburger and hide the menu */
  .hamburgerMenuButton {
    visibility: visible;/* Show the hamburger menu */
  }
  
  .menu {
    display: block;  /* Hide the regular menu on mobile */
  }
  .menu-animate {
    display: none; 
  }
}


/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: White;
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (max-width: 730px) {
  .page {
    margin-top: 4lvh;
  }
}


