.page {
  display: grid;
  grid-template-rows: auto; 
  justify-items: center; 
  padding: 14rem 0 4rem 0;
  gap: 2.5rem;
  margin-bottom: 1rem;
  z-index: 1;  
  background-color: none;
}
.socials {
  display: flex;
  gap: 2rem;
  opacity: 0;
  transition: opacity 2.0s ease-out;
}
.socials-animate{
  opacity: 1; 
}

.socialmedia {
  color: #e0c35e;
  font-size: 1.3rem;
  }
.menu {
  display: flex;
  gap: 1.5rem;
  margin: 10px;
  opacity: 0;
  transition: opacity 2.0s ease-out;
}
.menu-animate {
  display: flex;
  gap: 1.5rem;
  margin: 10px;
  opacity: 1;
}

.menu a {
  color: #efbf57;
  text-decoration: none;
}

.menu a:hover {
  color: white;
  text-decoration: underline;
}
.plate{
  display: flex;
  opacity: 1;
}
@keyframes verticalGrow {
  0% {
    opacity: 0;
    transform: scaleY(0); 
  }
  100% {
    opacity: 1;
    transform: scaleY(1); 
  }
}

.plate-animate{
  animation: verticalGrow 1.5s ease-out forwards;
  transform-origin: center;
}

.fixedHeader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px; /* Adjust height as needed */
  background-color: black;
  z-index: 1000;
}
.hamburgerMenuButton {
  display: none;
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  font-size: 1.5rem;
  background-color: transparent;
  border: none;   
  outline: none;
 
}
.navbar {
  position: relative;  
  padding: 1rem;       
}
.hamburgerIcon {
color: #e0c35e;
background-color: transparent;
}
.text {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e0c35e;
}

.pagetext {
  display: grid;
  grid-template-rows: auto;
  justify-items: center; 
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
  min-height: 80vh;
  padding: 20px;
  gap: 64px;
  position: relative;
  z-index: 1; 
  background: none;
}

/* The page content that should scroll */
.pagecontent {
  position: relative; 
  z-index: 2; 
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e0c35e;
  width: 100%;
  min-height: 10em;
  margin-top: 6.5rem;
  background-color: rgba(0, 0, 0, 0.2);
  }

  .quotation {
    position: relative; /* Normal positioning */
    z-index: 2; /* Make sure it's above the background */
    display: grid;
    grid-template-rows: auto;
    justify-items: center; 
    text-align: center;
     padding: 100px 20px;/* Add padding to prevent overlap with header */
    color: white; /* Ensures text is visible */
    width: 100%;
    margin: 2rem 0 2rem 0;
    min-height: 30vh;  
    background-color: rgba(0, 0, 0, 0.2);
    }
    .pageInfoWhiteJustified {
      position: relative; 
      z-index: 2; 
      display: grid;
      grid-template-rows: 1fr 1fr;
      justify-items: center; 
      text-align: left;
      gap: 1em;
      padding-top: 2rem;
      padding-left: 2rem;
      padding-right: 2rem;
      padding-bottom: 2rem;
      color: white; 
      width: 100%;
      margin: 1.2rem 0 2rem 0;
      min-height: 30vh;  
      background-color: rgba(0, 0, 0, 0.2);
      }
/* Background container stays fixed */
.fixedbackground {
  position: fixed; /* Keep background in place */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black; /* Black background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1; /* Ensures it's behind everything */
  overflow: hidden;
}

/* Background images (stacked) */
.backgroundImage {
  position: absolute;
  width: 80vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

/* Background variations */
.bg1 {
  background-image: url("/ecotaybandpic.jpg");
}
.bg2 {
  background-image: url("/ecotaybarn.jpg");
}
.bg3 {
  background-image: url("/ribfest.webp");
}

.backgroundCamaro {
  position: fixed; /* Keep background in place */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black; /* Black background */
  background-image: url(/camaro.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1; /* Ensures it's behind everything */
  overflow: hidden;
}

@media (prefers-color-scheme: dark) {
  .page {
    /* --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06); */

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 1;
}
/* ---------------------------------Media Queries-------------------------------------------- */

/* toggle hamburger menu visibility on mobile devices*/

@media (max-width: 768px) {
  /* When the screen is 768px or smaller (mobile), show the hamburger and hide the menu */
  .hamburgerMenuButton {
    display: block; /* Show the hamburger menu */
  }
  
  .menu {
    display: none;  /* Hide the regular menu on mobile */
  }
  .menu-animate {
    display: none;
  }
}


.footer img {
  flex-shrink: 0;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: White;
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (max-width: 600px) {
  .page {
    padding: 32px;
    padding-bottom: 80px;
  }

  .main {
    align-items: center;
  }

  .main ol {
    text-align: center;
  }

  .ctas {
    flex-direction: column;
  }

  .ctas a {
    font-size: 14px;
    height: 40px;
    padding: 0 16px;
  }

  a.secondary {
    min-width: auto;
  }

  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}
